<div class="col-md-6 price-display">
        <div class="kraftstoff row">
            <h4 class="col-md-4"><%= @labels[id] %></h4>
            <div id="<%= id %>" class="prices" data-price="<%= price %>" data-id="<%= id %>"></div>
        </div>
</div>