<div class="col-md-6 new-price-display price-display">
        <div class="kraftstoff row">
            <div class="arrow">
                <i class="fas fa-exchange-alt"></i>
            </div>
            <div id="<%= id %>-new" class="prices-new prices"></div>
        </div>
</div>