<div class="container" id="footer">
        <div class="row justify-content-between" id="footLine">
            <div class="col-md-6">
            <h3>About</h3>
            </div>
            <div class="col-md-6">
                <h3 style="float:right">ver. 2.0</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <span>&copy; 2019 Jens Frerichs </span><br>
                    <a href="https://github.com/idealistic91/priceDataScraper">GitHub-repository</a>
                    
            </div>
        </div>
</div>